src/ZippingWorker_Service/Configuration/ZippingWorker_ServiceConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ZippingWorker_ServiceConfigurationSchema"
    targetNamespace="http://tempuri.org/ZippingWorker_ServiceConfigurationSchema.xsd"
    elementFormDefault="unqualified"
    xmlns="http://tempuri.org/ZippingWorker_ServiceConfigurationSchema.xsd"
    xmlns:mstns="http://tempuri.org/ZippingWorker_ServiceConfigurationSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:simpleType name="ArchiverEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sevenzip" />
			<xs:enumeration value="dotnetzip" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CompressionLevelEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nocompression" />
			<xs:enumeration value="fastest" />
			<xs:enumeration value="fast" />
			<xs:enumeration value="normal" />
			<xs:enumeration value="maximum" />
			<xs:enumeration value="ultra" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="MetaDataType">
		<xs:attribute name="key" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="MetaDataDictType">
		<xs:sequence>
			<xs:element name="data" type="MetaDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ZippingWorker_ServiceConfigurationType">
		<xs:all>
			<xs:element name="metadatalogging" type="MetaDataDictType" minOccurs="0"></xs:element>
		</xs:all>
		<xs:attribute name="serviceport"							type="xs:int"					default="5000"					use="optional"/>
		<xs:attribute name="sevenzipexepath"						type="xs:string"				default="7z.exe"				use="optional"/>
		<xs:attribute name="tempdir_symlink"						type="xs:string"				default="%APPPATH%\tempsymlink"	use="optional"/>
		<xs:attribute name="tempdir_symlink_createIfNotExist"		type="xs:boolean"				default="true"					use="optional"/>
		<xs:attribute name="tempdir_zipstaging"						type="xs:string"				default="%APPPATH%\tempzip"		use="optional"/>
		<xs:attribute name="tempdir_zipstaging_createIfNotExist"	type="xs:boolean"				default="true"					use="optional"/>
		<xs:attribute name="usestaging"								type="xs:boolean"				default="true"					use="optional"/>
		<xs:attribute name="archiver"								type="ArchiverEnumType"			default="sevenzip"				use="optional"/>
		<xs:attribute name="compressionlevel"						type="CompressionLevelEnumType" default="ultra"					use="optional"/>
	</xs:complexType>

	<xs:element name="zippingworker_serviceconfiguration" type="ZippingWorker_ServiceConfigurationType"/>
</xs:schema>
